body {
    padding: 0;
    margin: 0
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.header {
    height: auto;
    padding: 40px;
    background-color: #c5dbff;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-column: 1/4;
}

.sidebar {
    background-color: bisque;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    grid-row: 2/4;
}

.footer {
    padding: 40px;
    background-color: #c5dbff;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-column: 1/4;
}

.ul1 {
    font-size: 20pt;
    text-align: left;
}

h1 {
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
}

ul {
    font-size: 15pt;
    text-align: left;
}

img {
    width: 100%;
    height: auto;
}

.block1 {
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    align-self: center;
}

.block2 {
    align-self: center;
    color: cornflowerblue;
    font-family: 'Tempus Sans ITC', serif;
    font-size: 50pt
}

#work {
    margin: 0;
    display: none;
    grid-auto-flow: row;
    width: 100%;
    height: 100%;
}

#controls {
    padding-right: 10px;
    height: 40px;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
}

#message {
    font-size: 15pt;
    padding-left: 20px;
    margin: 0;
}

#anim {
    display: none;
    width: calc(100% - 10px);
    height: 150px;
    border: 5px solid green;
    background: url("img/Texture.png") left top repeat;
    position: relative;
    bottom: 0;
}

#square {
    position: relative;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    width: 10px;
    height: 10px;
}

#cnAnim {
    display: none;
    width: calc(100% - 10px);
    height: 150px;
    border: 5px solid green;
    background: url('img/Texture.png') left top repeat;
}

#playSt {
    width: 49%;
    margin-left: 3px;
    margin-bottom: 3px;
}

#playCn {
    width: 49%;
    margin-bottom: 3px;
}

#LocalStorage {
    width: calc(100% - 6px);
}

#title {
    text-align: right;
    padding: 30px;
    align-self: center;
    background-color: #e6ffde;
    font-family: 'Tempus Sans ITC', serif;
    font-size: 45pt;
    color: green;
    grid-column: 2/4;
}

#info {
    align-self: stretch;
    padding-top: 80px;
    background-color: bisque;
    text-align: center;
}

#photo {
    align-self: center;
}